!!!
html
  head
    title 'Varnish Codes'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://assets0.academia.edu/javascripts/raphael-min.js')
    script(src='http://assets2.academia.edu/javascripts/g.raphael-min.js')
    script(src='http://assets1.academia.edu/javascripts/g.pie-min.js')
  body!= body