!!!
html
  head
    title Academia Status
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://assets0.academia.edu/javascripts/raphael-min.js')
    script(src='http://assets2.academia.edu/javascripts/g.raphael-min.js')
    script(src='http://assets1.academia.edu/javascripts/g.pie-min.js')
  body
    div#bottom_bar &nbsp;
    script
      function current_time(){
        var currentTime = new Date();
        var hours = currentTime.getHours();
        var minutes = currentTime.getMinutes();
        return hours + ':' + minutes;
      };
      var bottom_bar = document.getElementById('bottom_bar');
      function set_bottom_bar_text(text){
        bottom_bar.innerHTML = '[ ' + current_time() +' ]&nbsp;&nbsp;&nbsp;' + text + '&nbsp;&nbsp;';
      };
    != body