body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#pie {
	height: 200px;
	width: 300px;
}

div#debug {
	margin-top: 100px;
	border: 1px solid grey;
}

ul.scores {
}

ul.scores div {
	background-color: #424242;
}